<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.delivery.dao.DeliveryDao">
	<select id="getDeliveryById" resultType="com.bootdo.delivery.vo.DeliveryVo" parameterType="String">
		select
		a.contract_id contractId,
		a.division_id divisionId,
		a.theme theme,
		a.flow_no flow,
		a.status status,
		a.create_time createTime,
		b.name name,
		b.value userId,
		c.name deliveryLevel,
		c.value deliveryLeveryId,
		d.name deliveryType,
		d.value deliveryTypeId
	 	from
		t_business_delivery_application a
		left join (
		select
		`name`,
		user_id value
		from
		sys_user
		WHERE status = '1'
		) b
		on a.CREATE_USER_ID = b.value
		left join (
		SELECT
		`value`,
		`name`
		FROM
		sys_dict
		WHERE type = 'color'
		) c
		on a.DELIVERY_LEVEL = c.value
		left join (
		SELECT
		`value`,
		`name`
		FROM
		sys_dict
		WHERE
		type = 'deliveryType'
		) d on a.delivery_type = d.value
		WHERE id = #{id}
	</select>
</mapper>