<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.delivery.dao.UserInfoDao">

	<select id="getUserInfoByUserId" parameterType="String" resultType="com.bootdo.delivery.domain.UserInfo">
		select * from sys_user
		<where>
			USER_ID = #{userId}
		</where>
	</select>
	<select id="getUserInfoList" resultType="com.bootdo.delivery.domain.UserInfo">
		select *
	 	from sys_user
	</select>
	<select id="getUserInfoListSp" resultType="com.bootdo.delivery.domain.UserInfo">
		select * from sys_user
	</select>
	<insert id="saveUserInfo" parameterType="com.bootdo.delivery.domain.UserInfo" keyProperty="userId" useGeneratedKeys="true">
		insert into sys_user (username, name, password, gmt_create) values (#{username}, #{name}, #{password}, #{gmtCreate})
	</insert>

	
	<resultMap id="mapList" type="com.bootdo.delivery.vo.DeliveryListVo">
		<result column="name" property="name" />
		<collection property="list" ofType="HashMap">
			<result property="id" column="id" />
			<result property="d_id" column="d_id" />
			<result property="flow" column="flow" />
		</collection>
	</resultMap>
	<select id="getMapList" resultMap="mapList">
		select a.name,
		b.CONTRACT_ID id,
		b.DIVISION_ID d_id,
		b.FLOW_NO flow
		from
		sys_user a
		left join
		t_business_delivery_application b
		on a.user_id = b.CREATE_USER_ID
		<where>
			and a.user_id = 138
		</where>
	</select>
</mapper>